{% extends 'core/base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}


    <div class="max-w-lg mx-auto flex flex-wrap p-6">
        <div class="w-full p-6 ">
            <h1 class="inline-block px-8 py-4 rounded-xl bg-green-700 text-center text-white hover:bg-green-500 m-6">Password Reset Complete</h1>
            <p class="w-full p-6 m-6 bg-blue-900 rounded-3xl text-white">Your password has been successfully changed.</p>
            <p class="w-full p-6 m-6 bg-blue-900 rounded-3xl text-white">You can now <a href="{% url 'login' %}">log in</a> with your new password.</p>
            <a href="{% url 'login' %}">Log in</a>
        </div>
    </div>



{% endblock %}
