
{% extends 'core/base.html' %}

{% block content %}
<div class="max-w-lg mx-auto flex flex-wrap p-6">
    <div class="w-full bg-gray-600 p-4 rounded-xl">
        <h2 class="mb-6 text-sm text-center text-white">Forgot Your Password?</h2>
        <p class="mb-6 text-sm text-center text-red-400">Enter your email address below,<br> and we'll send you a link to reset your password.</p>
        <form method="post" class="space-y-3">
            {% csrf_token %}
            <div class="p-4">
                <label class="text-blue-600">E-mail</label>
                <input type="email" name="email" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>
            <div>
                <button type="submit" class="py-4 rounded-xl px-6 ml-2 mb-2 text-white bg-green-500 hover:bg-green-700">Send Reset Link</button>
            </div>    
        </form>
    </div>
</div>
{% endblock %}
